---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1521889628'
      Etag:
      - W/"27efc46ef1c7e167802d489c2f683216"
      Last-Modified:
      - Tue, 20 Mar 2018 19:04:33 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"1","id":1825798,"avatar_url":"https://avatars2.githubusercontent.com/u/1825798?v=4","gravatar_id":"","url":"https://api.github.com/users/1","html_url":"https://github.com/1","followers_url":"https://api.github.com/users/1/followers","following_url":"https://api.github.com/users/1/following{/other_user}","gists_url":"https://api.github.com/users/1/gists{/gist_id}","starred_url":"https://api.github.com/users/1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/1/subscriptions","organizations_url":"https://api.github.com/users/1/orgs","repos_url":"https://api.github.com/users/1/repos","events_url":"https://api.github.com/users/1/events{/privacy}","received_events_url":"https://api.github.com/users/1/received_events","type":"User","site_admin":false,"name":"Michael","company":null,"blog":"","location":"San
        Francisco, CA","email":null,"hireable":null,"bio":null,"public_repos":3,"public_gists":0,"followers":13,"following":0,"created_at":"2012-06-07T06:10:07Z","updated_at":"2018-03-20T19:04:33Z"}'
  recorded_at: Sat, 24 Mar 2018 10:13:56 GMT
recorded_with: VCR 4.0.0
